In [1]:
#import libraries
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
#read files
q1 = pd.read_csv('Q1.csv')
q2 = pd.read_csv('Q2.csv')

In [3]:
#quick view of Q1/2019
q1.head(2)

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,21742443,2019-01-01 00:04:37,2019-01-01 00:11:07,2167,390.0,199,Wabash Ave & Grand Ave,84,Milwaukee Ave & Grand Ave,Subscriber,Male,1989.0
1,21742444,2019-01-01 00:08:13,2019-01-01 00:15:34,4386,441.0,44,State St & Randolph St,624,Dearborn St & Van Buren St (*),Subscriber,Female,1990.0

In [4]:
#quick view of Q2/2019
q2.head(2)

,01 - Rental Details Rental ID,01 - Rental Details Local Start Time,01 - Rental Details Local End Time,01 - Rental Details Bike ID,01 - Rental Details Duration In Seconds Uncapped,03 - Rental Start Station ID,03 - Rental Start Station Name,02 - Rental End Station ID,02 - Rental End Station Name,User Type,Member Gender,05 - Member Details Member Birthday Year
0,22178529,2019-04-01 00:02:22,2019-04-01 00:09:48,6251,446.0,81,Daley Center Plaza,56,Desplaines St & Kinzie St,Subscriber,Male,1975.0
1,22178530,2019-04-01 00:03:02,2019-04-01 00:20:30,6226,"1,048.0",317,Wood St & Taylor St,59,Wabash Ave & Roosevelt Rd,Subscriber,Female,1984.0

In [5]:
#Rename Q2 columns
q2.rename(columns={'01 - Rental Details Rental ID': 'trip_id', '01 - Rental Details Local Start Time': 'start_time','01 - Rental Details Local End Time': 'end_time','01 - Rental Details Bike ID': 'bikeid','01 - Rental Details Duration In Seconds Uncapped': 'tripduration','03 - Rental Start Station ID': 'from_station_id','03 - Rental Start Station Name': 'from_station_name','02 - Rental End Station ID': 'to_station_id','02 - Rental End Station Name': 'to_station_name','User Type':'usertype','Member Gender':'gender','05 - Member Details Member Birthday Year':'birthyear'}, inplace=True)

In [6]:
#Then used the .concat() function to merge all the files into one table.
fin = pd.concat([q1,q2],ignore_index=True,sort=True)

In [7]:
#quick view of new table
fin.head(5)

,bikeid,birthyear,end_time,from_station_id,from_station_name,gender,start_time,to_station_id,to_station_name,trip_id,tripduration,usertype
0,2167,1989.0,2019-01-01 00:11:07,199,Wabash Ave & Grand Ave,Male,2019-01-01 00:04:37,84,Milwaukee Ave & Grand Ave,21742443,390.0,Subscriber
1,4386,1990.0,2019-01-01 00:15:34,44,State St & Randolph St,Female,2019-01-01 00:08:13,624,Dearborn St & Van Buren St (*),21742444,441.0,Subscriber
2,1524,1994.0,2019-01-01 00:27:12,15,Racine Ave & 18th St,Female,2019-01-01 00:13:23,644,Western Ave & Fillmore St (*),21742445,829.0,Subscriber
3,252,1993.0,2019-01-01 00:43:28,123,California Ave & Milwaukee Ave,Male,2019-01-01 00:13:45,176,Clark St & Elm St,21742446,"1,783.0",Subscriber
4,1170,1994.0,2019-01-01 00:20:56,173,Mies van der Rohe Way & Chicago Ave,Male,2019-01-01 00:14:52,35,Streeter Dr & Grand Ave,21742447,364.0,Subscriber

In [8]:
#check for missing values
missing_values_count = fin.isnull().sum()
missing_values_count[:]

bikeid                    0
birthyear            198976
end_time                  0
from_station_id           0
from_station_name         0
gender               205265
start_time                0
to_station_id             0
to_station_name           0
trip_id                   0
tripduration              0
usertype                  0
dtype: int64

In [9]:
#more information about fin
fin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1473232 entries, 0 to 1473231
Data columns (total 12 columns):
bikeid               1473232 non-null int64
birthyear            1274256 non-null float64
end_time             1473232 non-null object
from_station_id      1473232 non-null int64
from_station_name    1473232 non-null object
gender               1267967 non-null object
start_time           1473232 non-null object
to_station_id        1473232 non-null int64
to_station_name      1473232 non-null object
trip_id              1473232 non-null int64
tripduration         1473232 non-null object
usertype             1473232 non-null object
dtypes: float64(1), int64(4), object(7)
memory usage: 95.5+ MB

In [10]:
#Drop columns that wont be needed for the analysis.
fin = fin.drop(columns=["bikeid","birthyear","from_station_id","gender","to_station_id", "to_station_name","trip_id",'tripduration'])

In [11]:
# count distinct value of "usertype"
unique_id = len(pd.unique(fin["usertype"]))
  
print("# of unique usertype: " + str(unique_id))

# of unique usertype: 2

In [12]:
#Remove duplicates
#Drop missing values in columns where all info needs to be complete.
fin = fin.drop_duplicates()
fin = fin.dropna(subset=['end_time','start_time','usertype'])

In [13]:
fin.head()

,end_time,from_station_name,start_time,usertype
0,2019-01-01 00:11:07,Wabash Ave & Grand Ave,2019-01-01 00:04:37,Subscriber
1,2019-01-01 00:15:34,State St & Randolph St,2019-01-01 00:08:13,Subscriber
2,2019-01-01 00:27:12,Racine Ave & 18th St,2019-01-01 00:13:23,Subscriber
3,2019-01-01 00:43:28,California Ave & Milwaukee Ave,2019-01-01 00:13:45,Subscriber
4,2019-01-01 00:20:56,Mies van der Rohe Way & Chicago Ave,2019-01-01 00:14:52,Subscriber

In [14]:
fin.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1471406 entries, 0 to 1473231
Data columns (total 4 columns):
end_time             1471406 non-null object
from_station_name    1471406 non-null object
start_time           1471406 non-null object
usertype             1471406 non-null object
dtypes: object(4)
memory usage: 33.7+ MB

In [15]:
#Used the .to_datetime() function to get the correct data type on the 'start_time' and 'end_time' columns to be able to make the new column 'ride_length'.
fin['usertype'] = fin['usertype'].astype('category')
fin['start_time'] = pd.to_datetime(fin['start_time'], format = "%Y/%m/%d %H:%M:%S")
fin['end_time'] = pd.to_datetime(fin['end_time'], format = "%Y/%m/%d %H:%M:%S")

fin['ride_length']= fin['end_time']-fin['start_time']

In [16]:
#New columns made to analyse the bike rides by day of week and by month.
fin['day_of_week'] = fin['start_time'].dt.day_name()
fin['month'] = fin['start_time'].dt.month_name()

In [17]:
fin.head()

,end_time,from_station_name,start_time,usertype,ride_length,day_of_week,month
0,2019-01-01 00:11:07,Wabash Ave & Grand Ave,2019-01-01 00:04:37,Subscriber,00:06:30,Tuesday,January
1,2019-01-01 00:15:34,State St & Randolph St,2019-01-01 00:08:13,Subscriber,00:07:21,Tuesday,January
2,2019-01-01 00:27:12,Racine Ave & 18th St,2019-01-01 00:13:23,Subscriber,00:13:49,Tuesday,January
3,2019-01-01 00:43:28,California Ave & Milwaukee Ave,2019-01-01 00:13:45,Subscriber,00:29:43,Tuesday,January
4,2019-01-01 00:20:56,Mies van der Rohe Way & Chicago Ave,2019-01-01 00:14:52,Subscriber,00:06:04,Tuesday,January

In [18]:
fin['day_of_week'] = fin['day_of_week'].astype('category')
fin['month'] = fin['month'].astype('category')

In [19]:
fin.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1471406 entries, 0 to 1473231
Data columns (total 7 columns):
end_time             1471406 non-null datetime64[ns]
from_station_name    1471406 non-null object
start_time           1471406 non-null datetime64[ns]
usertype             1471406 non-null category
ride_length          1471406 non-null timedelta64[ns]
day_of_week          1471406 non-null category
month                1471406 non-null category
dtypes: category(3), datetime64[ns](2), object(1), timedelta64[ns](1)
memory usage: 54.7+ MB

In [20]:
#convert timedeltadata to minutes(int)
fin['minutes'] = fin['ride_length'] / pd.Timedelta(minutes=1)

In [21]:
#Calculate the mean of ride_length
fin["minutes"].mean()

20.842832093929374

In [22]:
#Calculate the max ride_length
max_duration = fin["ride_length"].max()
max_durtionMin = fin["minutes"].max()

print(max_duration)
print("max duration in min:",max_durtionMin)

123 days 01:20:22
max duration in min: 177200.36666666667

In [23]:
#Calculate the average ride_length for members and casual riders. Try rows = member_casual; Values = Average of ride_length.

fin.groupby(['usertype'])['minutes'].mean()

usertype
Customer      49.629420
Subscriber    14.003532
Name: minutes, dtype: float64

In [24]:
#Calculate the average ride_length for users by day_of_week. Try columns = day_of_week; Rows = member_casual; Values = Average of ride_length.
fin.groupby(['usertype','day_of_week'])['minutes'].mean()

usertype    day_of_week
Customer    Friday         48.482405
            Monday         44.328840
            Saturday       51.582802
            Sunday         48.228441
            Thursday       57.487119
            Tuesday        47.521616
            Wednesday      49.208212
Subscriber  Friday         13.810275
            Monday         14.186539
            Saturday       15.716210
            Sunday         15.983318
            Thursday       13.178990
            Tuesday        13.590650
            Wednesday      13.311705
Name: minutes, dtype: float64

In [25]:
#Calculate the average ride_length for users by month

fin.groupby(['usertype','month'])['minutes'].mean()

usertype    month
Customer    April        50.951606
            February    145.693538
            January      47.344940
            June         45.928639
            March        52.327286
            May          51.257943
Subscriber  April        13.512243
            February     13.405663
            January      15.653387
            June         14.547930
            March        13.041183
            May          13.850506
Name: minutes, dtype: float64

In [26]:
fin.groupby(['usertype','from_station_name'])['minutes'].mean()

usertype    from_station_name
Customer    2112 W Peterson Ave                            259.649667
            63rd St Beach                                  136.272115
            900 W Harrison St                               30.979526
            Aberdeen St & Jackson Blvd                     207.206638
            Aberdeen St & Monroe St                         34.069736
            Aberdeen St & Randolph St                       45.383390
            Ada St & Washington Blvd                        28.446439
            Adler Planetarium                               37.422016
            Albany Ave & 26th St                            42.762179
            Albany Ave & Bloomingdale Ave                   39.397390
            Albany Ave & Montrose Ave                       61.256301
            Archer (Damen) Ave & 37th St (*)                45.269048
            Artesian Ave & Hubbard St                       20.957226
            Ashland Ave & 13th St                           62.134091
            Ashland Ave & 21st St                           36.584921
            Ashland Ave & 50th St                           88.616667
            Ashland Ave & 63rd St                          103.556667
            Ashland Ave & 66th St                          113.890000
            Ashland Ave & 69th St                           65.478333
            Ashland Ave & Archer Ave                        24.452482
            Ashland Ave & Augusta Blvd                      47.913978
            Ashland Ave & Belle Plaine Ave                  29.378958
            Ashland Ave & Blackhawk St                      35.035079
            Ashland Ave & Chicago Ave                       31.119988
            Ashland Ave & Division St                       40.566611
            Ashland Ave & Garfield Blvd                     21.075000
            Ashland Ave & Grace St                          53.282303
            Ashland Ave & Grand Ave                         50.827096
            Ashland Ave & Lake St (Temp)                    36.599665
            Ashland Ave & McDowell Ave                     120.075926
                                                              ...
Subscriber  Western Ave & Congress Pkwy                     13.918061
            Western Ave & Division St                       13.716819
            Western Ave & Fillmore St (*)                   13.744755
            Western Ave & Granville Ave                     19.616399
            Western Ave & Howard St                         10.711917
            Western Ave & Leland Ave                        11.444125
            Western Ave & Lunt Ave                          11.625641
            Western Ave & Monroe St                         14.356140
            Western Ave & Roscoe St                         12.860632
            Western Ave & Walton St                         14.681104
            Western Ave & Winnebago Ave                     13.599467
            Western Blvd & 48th Pl                          10.144271
            Wilton Ave & Belmont Ave                        10.417272
            Wilton Ave & Diversey Pkwy                      10.510526
            Winchester (Ravenswood) Ave & Balmoral Ave      13.810991
            Winchester Ave & Elston Ave                     15.893586
            Winthrop Ave & Lawrence Ave                     12.324616
            Wolcott (Ravenswood) Ave & Montrose Ave (*)     13.137271
            Wolcott Ave & Fargo Ave                         10.525253
            Wolcott Ave & Polk St                           13.566026
            Wood St & 35th St                               14.029649
            Wood St & Augusta Blvd                          14.206704
            Wood St & Chicago Ave (*)                       12.789028
            Wood St & Hubbard St                            16.103779
            Wood St & Milwaukee Ave                         14.238619
            Wood St & Taylor St                             13.281574
            Woodlawn Ave & 55th St                           8.272005
            Woodlawn Ave & 75th St                          12.716667
            Woodlawn Ave & Lake Park Ave                    19.674458
            Yates Blvd & 75th St                            15.851190
Name: minutes, Length: 1214, dtype: float64

In [27]:
fin.to_csv('q1_q2_2019.csv',index=False)